@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   -webkit-font-smoothing: antialiased;
   overflow-x: hidden;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   background-color: #f6f6f6;
   font: 400 1rem 'Poppins', sans-serif;
}

body,
input,
textarea,
button {
   font: 400 1rem 'Poppins', sans-serif;

   input[type='number']::-webkit-inner-spin-button,
   input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
   }
}

a {
   text-decoration: none;
}

::-webkit-scrollbar {
   width: 4px;
}

::-webkit-scrollbar-thumb {
   cursor: pointer;
   border-radius: 8px;
   background: #c5c5c5;
   width: 4px;
}

input:-webkit-autofill::first-line {
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-background-clip: text;
}

.gradient-grad-2 {
   background: var(--gradient-grad-2, linear-gradient(45deg, #bf81aa 0%, #70478d 100%));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.gradient-grad-dark {
   background: linear-gradient(264deg, #0c1934 0.74%, #1e0f4a 100%);
}

.gradient-grad-yellow {
   background: #efb521;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.chart-box-shadow {
   box-shadow: 0px 0px 24px 0px rgba(153, 100, 189, 0.31);
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.fade-in {
   animation-name: fadeIn;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

.grid-min-max {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

input::-webkit-credentials-auto-fill-button {
   visibility: hidden;
   display: none !important;
   position: absolute;
   right: 0;
}
