.hero {
   position: relative;
   height: calc(100vh - 14rem);
}

.remove-paddings {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: -13rem;
   margin-right: -13rem;
}

.articles-background {
   background: linear-gradient(180deg, rgb(255 255 255 / 24%) 98.5%, rgb(255 255 255 / 40%) 127.32%);
   filter: drop-shadow(0px 4px 8px rgba(39, 0, 90, 0.07));
   backdrop-filter: blur(16px);
   width: 100%;
   height: 100%;
   padding-left: 13rem;
   padding-right: 13rem;
   padding-top: 8.25rem;
   padding-bottom: -100px;
   position: absolute;
   top: 0;
   z-index: 0;
}

@media (max-width: 768px) {
   .articles-background {
      width: 100vw;
      margin-left: -24px;
      margin-right: -24px;
   }
}

.latest-articles {
   display: grid;
   grid-template-columns: min-content min-content min-content min-content;
   justify-content: center;
}

.divider-article-h {
   border-top: 1px solid #dbdbdb;
   grid-column: 1 / -1;
   width: 100%;
}

.divider-article-v {
   border-left: 1px solid #dbdbdb;
   height: 100%;
}
