.home {
   display: grid;
   grid-template-columns: max-content 1fr 17.625rem;
   gap: 1.5rem;
   width: 100%;
   overflow-x: hidden;
   box-sizing: border-box;
   background-image: linear-gradient(
      108deg,
      #e2e6ff 0%,
      #dce8ff 37.72%,
      #ebdeff 68.82%,
      #ffe5e5 97.88%
   );
}

.col-2 {
   grid-column-start: 2;
}

.col-3 {
   grid-column-start: 3;
   height: 100%;
}

.row-1 {
   grid-row-start: 1;
}
