.login-animation-container {
   background: linear-gradient(338.76deg, #231269 1.24%, #20509a 99.44%);
}

.login-animation {
   position: absolute;
   top: 0%;
   right: 15%;
   transform: translate(42%, -25%) rotate(4deg);
   width: 800px;
   height: 800px;
   image-rendering: optimizeQuality;
   image-rendering: -moz-crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: -o-crisp-edges;
}

.login-blob-shape {
   position: absolute;
   bottom: -2rem;
}

.login-stamp {
   position: absolute;
   bottom: 2rem;
   right: 6rem;
}

.login-text {
   display: grid;
   gap: 2rem;
   position: absolute;
   width: 100%;
   top: 60%;
   left: 2rem;
   transform: translate(-0, -65%);
   z-index: 1000;
}
