.divider-h {
   width: 100%;
   height: 1px;
   background-color: #dbdbdb;
   color: #dbdbdb;
}

.divider-v {
   width: 1px;
   height: 100%;
   background-color: #dbdbdb;
   color: #dbdbdb;
}

.unset {
   all: unset;
}

.scrollbar-hidden {
   scrollbar-width: none;
   overflow: -moz-scrollbars-none;
   -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
   display: none;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
   cursor: pointer;
   border-radius: 8px;
   background: #c5c5c5;
}
